################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CrashTestWin/bin/Debug
/CrashTestWin/obj
/TestClassLibraryOne/bin/Debug/net8.0
/TestClassLibraryOne/obj
